:root {
  --ui-light-blue: white;
  --white: rgba(255, 255, 255, 1);
  --ui-blue-primary: rgba(24, 98, 255, 1);
  --ui-white: rgba(255, 255, 255, 1);
  --ui-dark-grey: rgba(27, 27, 32, 1);
  --ui-black: rgba(0, 0, 0, 1);
  --ui-blue-secondary: rgba(0, 71, 224, 1);
  --ui-mid-blue: rgba(243, 247, 255, 1);
  --ui-pink-red: rgba(230, 24, 63, 1);
  --h8-medium-font-family: "SF Pro Display", Helvetica;
  --h8-medium-font-weight: 500;
  --h8-medium-font-size: 16px;
  --h8-medium-letter-spacing: 0px;
  --h8-medium-line-height: 20px;
  --h8-medium-font-style: normal;
  --header-6-medium-16-font-family: "SF Pro Display", Helvetica;
  --header-6-medium-16-font-weight: 500;
  --header-6-medium-16-font-size: 16px;
  --header-6-medium-16-letter-spacing: 0px;
  --header-6-medium-16-line-height: 139.9999976158142%;
  --header-6-medium-16-font-style: normal;
  --header-6-semi-bold-16-font-family: "SF Pro Display", Helvetica;
  --header-6-semi-bold-16-font-weight: 400;
  --header-6-semi-bold-16-font-size: 16px;
  --header-6-semi-bold-16-letter-spacing: 0px;
  --header-6-semi-bold-16-line-height: 139.9999976158142%;
  --header-6-semi-bold-16-font-style: normal;
  --header-4-semibold-24-font-family: "SF Pro Display", Helvetica;
  --header-4-semibold-24-font-weight: 400;
  --header-4-semibold-24-font-size: 24px;
  --header-4-semibold-24-letter-spacing: 0px;
  --header-4-semibold-24-line-height: 139.9999976158142%;
  --header-4-semibold-24-font-style: normal;
  --header-3-semibold-32-font-family: "SF Pro Display", Helvetica;
  --header-3-semibold-32-font-weight: 400;
  --header-3-semibold-32-font-size: 32px;
  --header-3-semibold-32-letter-spacing: 0px;
  --header-3-semibold-32-line-height: 139.9999976158142%;
  --header-3-semibold-32-font-style: normal;
  --header-3-bold-32-font-family: "SF Pro Display", Helvetica;
  --header-3-bold-32-font-weight: 700;
  --header-3-bold-32-font-size: 32px;
  --header-3-bold-32-letter-spacing: 0px;
  --header-3-bold-32-line-height: 139.9999976158142%;
  --header-3-bold-32-font-style: normal;
  --header-2-semibold-40-font-family: "SF Pro Display", Helvetica;
  --header-2-semibold-40-font-weight: 400;
  --header-2-semibold-40-font-size: 40px;
  --header-2-semibold-40-letter-spacing: 0px;
  --header-2-semibold-40-line-height: normal;
  --header-2-semibold-40-font-style: normal;
  --header-4-bold-24-font-family: "SF Pro Display", Helvetica;
  --header-4-bold-24-font-weight: 700;
  --header-4-bold-24-font-size: 24px;
  --header-4-bold-24-letter-spacing: 0px;
  --header-4-bold-24-line-height: 139.9999976158142%;
  --header-4-bold-24-font-style: normal;
  --header-6-regular-16-font-family: "SF Pro Display", Helvetica;
  --header-6-regular-16-font-weight: 400;
  --header-6-regular-16-font-size: 16px;
  --header-6-regular-16-letter-spacing: 0px;
  --header-6-regular-16-line-height: 139.9999976158142%;
  --header-6-regular-16-font-style: normal;
  --news-bg-effect: ;
  --variable-collection-blue: rgba(1, 59, 125, 1);
  --variable-collection-blue-duplicate: var(--variable-collection-blue);
  --variable-collection-grey-3: rgba(118, 118, 121, 1);
  --variable-collection-grey-3-duplicate: var(--variable-collection-grey-3);
}
